#header{
  padding: 30px;
  background: #102146;

  .header-logo{
      display: flex;
      align-items: center;
      justify-content: space-between;
    &-left {
      display: flex;
      gap: 30px;
      align-items: center;
      .nav-header{
        color: white;
        font-size: 20px;
      }
    }
    &-right{
      .nav-right{
        color: white;
        margin: 30px;
        font-size: 20px;
      }
      .button-header{
        padding: 20px 50px;
        background: #034078;
        color: white;
        border-radius: 5px;
        font-size: 20px;

      }

    }
  }

}

