body {
  background: #102146;
}

#hero {
  color: #FFFFFF;
  padding-top: 10vw;
  font-size: 15px;
}
#hero .hero_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hero .hero_content .about_school .about_school_info {
  margin-bottom: 40px;
}
#hero .hero_content .about_school .about_school_info h1 {
  margin-bottom: 20px;
  line-height: 44px;
  font-weight: 700;
}
#hero .hero_content .about_school .about_school_info p {
  line-height: 24px;
  font-weight: 400;
}

#Course_school {
  padding: 10vw 0;
}
#Course_school h1 {
  text-align: center;
  color: #FFFFFF;
  padding: 30px 0;
}
#Course_school .content_school {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
#Course_school .content_school .course_school {
  width: 370px;
  height: 295px;
  background: #FFFFFF;
  border-radius: 15px;
}
#Course_school .content_school .course_school h2 {
  margin: 38px 0 0 22px;
}
#Course_school .content_school .course_school .course-icon {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
#Course_school .content_school .course_school .course-icon .course-info {
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid black;
}
#Course_school .content_school .course_school .course-icon .icon-right {
  margin-left: 10px;
}
#Course_school .content_school .course_school .text_school {
  width: 300px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0 0 20px;
}
#Course_school .content_school .course_school .text_school p {
  padding-top: 17px;
}
#Course_school .content_school .course_school .text_school .school-icon {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
#Course_school .content_school .course_school .text_school .school-icon .course-school-info {
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid black;
}
#Course_school .content_school .course_school .text_school .school-icon .icon-right {
  margin-left: 10px;
}
#Course_school .click-course {
  text-align: center;
  margin-top: 60px;
}
#Course_school .click-course .button-course {
  color: #FFFFFF;
  padding: 13px 50px;
  background-color: #043C71;
  border-radius: 6px;
}

.master .content_master h1 {
  text-align: center;
  color: #FFFFFF;
}
.master .content_master .java_content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.master .content_master .java_content .java {
  background-color: #FFFFFF;
  margin: 30px 0;
  width: 1030px;
  height: 200px;
  border-radius: 10px;
}
.master .content_master .java_content .java .java_info {
  margin: 54px 0 0 69px;
}
.master .content_master .java_content .java .java_info p {
  width: 800px;
  margin: 20px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.master .content_master .java_content .java .java_info h3 {
  width: 755px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #043F75;
}
.master .content_master .button-master {
  padding: 17px 45px;
  background-color: #043C71;
  color: white;
  border-radius: 5px;
}

.level_paket_school {
  padding: 10vw 0;
}
.level_paket_school .level_paket_top {
  text-align: center;
  margin: 50px 0;
  color: #FFFFFF;
}
.level_paket_school .level_paket_top h1 {
  margin-bottom: 30px;
}
.level_paket_school .content_level_year {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.level_paket_school .content_level_year .year_level {
  background-color: #0A1128;
  height: 310px;
  width: 360px;
  border-radius: 10px;
  box-shadow: 6px 6px 14px -117px #132049, -4px -3px 24px #040B23;
}
.level_paket_school .content_level_year .year_level .blog_year_list {
  height: 36px;
  width: 251px;
  margin: 26px 0 35px 30px;
  color: #FFFFFF;
}
.level_paket_school .content_level_year .year_level .blog_year_list .year_top span {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.level_paket_school .content_level_year .year_level .blog_year_list .year_top p {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin: 10px 0;
}
.level_paket_school .content_level_year .year_level .blog_year_list h1 {
  margin: 25px 0 20px 0;
}
.level_paket_school .content_level_year .year_level .blog_year_list .button_year {
  margin: 39px 0 40px 0;
  display: flex;
  align-items: center;
}
.level_paket_school .content_level_year .year_level .blog_year_list .button_year .button_follow_year {
  width: 150px;
  height: 36px;
  border: none;
  border-radius: 3.27273px;
  color: white;
  background-color: #043C71;
}
.level_paket_school .content_level_year .year_level .blog_year_list .button_year .button_level_year {
  margin-left: 10px;
  border: none;
  border-radius: 3.27273px;
  color: white;
  background-color: #043C71;
  padding: 8px 20px;
}
.level_paket_school .content_level_year .year_level .blog_year_list .button_year .button_follow_year:hover {
  border: 1px solid #298ADB;
  transition: 0.2s ease;
  background-color: #0A1128;
}
.level_paket_school .content_level_year .year_level .blog_year_list .button_year .button_level_year:hover {
  border: 1px solid #298ADB;
  transition: 0.2s ease;
  background-color: #0A1128;
}
.level_paket_school .content_level_year .year_level-left {
  background-color: #0A1128;
  height: 310px;
  width: 360px;
  border-radius: 10px;
  box-shadow: 6px 6px 14px -117px #132049, -4px -3px 24px #040B23;
}
.level_paket_school .content_level_year .year_level-left .blog_year_list-left {
  height: 36px;
  width: 251px;
  margin: 26px 0 35px 30px;
  color: #FFFFFF;
}
.level_paket_school .content_level_year .year_level-left .blog_year_list-left .year_top-left span {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.level_paket_school .content_level_year .year_level-left .blog_year_list-left .year_top-left p {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin: 10px 0;
}
.level_paket_school .content_level_year .year_level-left .blog_year_list-left h1 {
  margin: 25px 0 20px 0;
}
.level_paket_school .content_level_year .year_level-left .blog_year_list-left .button_year-left {
  margin: 55px 0 0 0;
  display: flex;
  align-items: center;
}
.level_paket_school .content_level_year .year_level-left .blog_year_list-left .button_year-left .button_follow_year {
  width: 150px;
  height: 36px;
  border: none;
  border-radius: 3.27273px;
  color: white;
  background-color: #043C71;
}
.level_paket_school .content_level_year .year_level-left .blog_year_list-left .button_year-left .button_level_year {
  margin-left: 10px;
  border: none;
  border-radius: 3.27273px;
  color: white;
  background-color: #043C71;
  padding: 8px 20px;
}
.level_paket_school .content_level_year .year_level-left .blog_year_list-left .button_year-left .button_follow_year:hover {
  border: 1px solid #298ADB;
  transition: 0.2s ease;
  background-color: #0A1128;
}
.level_paket_school .content_level_year .year_level-left .blog_year_list-left .button_year-left .button_level_year:hover {
  border: 1px solid #298ADB;
  transition: 0.2s ease;
  background-color: #0A1128;
}

#slider {
  margin: 10px 0;
}
#slider .slider--general h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  padding: 100px 0;
  color: #FFFFFF;
}
#slider .slider--general__block {
  width: 95% !important;
  height: 292px;
  background: #034078;
  border-radius: 10px;
  margin: 100px 0;
}
#slider .slider--general__block img {
  width: 25%;
  height: 28%;
  margin-left: 140px;
  margin-top: -40px;
}
#slider .slider--general h1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  text-align: center;
  padding: 20px 0;
}
#slider .slider--general p {
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  width: 307px;
  margin-left: 10%;
}
#slider .slider--general h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-left: 70%;
  color: #FFFFFF;
}

.form_school {
  padding: 10vw 0;
}
.form_school .form_school_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  color: white;
}
.form_school .form_school_content .form_text p {
  margin: 30px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.form_school .form_school_content .form_input .name {
  width: 610px;
  height: 57px;
  background: rgba(27, 41, 89, 0.4);
  border-radius: 10px;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 0 30px;
}
.form_school .form_school_content .form_input .call_form_school {
  margin: 30px 0;
}
.form_school .form_school_content .form_input .call_form_school .call_form {
  width: 610px;
  height: 57px;
  background: rgba(27, 41, 89, 0.4);
  border-radius: 10px;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 0 30px;
}
.form_school .form_school_content .form_input .gmail_form {
  width: 610px;
  height: 57px;
  background: rgba(27, 41, 89, 0.4);
  border-radius: 10px;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 0 30px;
}
.form_school .form_school_content .form_input .button_form_school {
  margin: 30px 0;
}
.form_school .form_school_content .form_input .button_form_school .button_form {
  width: 271px;
  height: 56px;
  background: #044076;
  border-radius: 10px;
  border: none;
  user-select: none;
  color: #FFFFFF;
  font-size: 17px;
}

#header {
  padding: 30px;
  background: #102146;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  opacity: 0.9;
  width: 100%;
}
#header .header-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#header .header-logo-left {
  display: flex;
  gap: 30px;
  align-items: center;
}
#header .header-logo-left .nav-header {
  color: white;
  font-size: 20px;
}
#header .header-logo-right .nav-right {
  color: white;
  margin: 30px;
  font-size: 20px;
}
#header .header-logo-right .button-header {
  padding: 20px 50px;
  background: #034078;
  color: white;
  border-radius: 5px;
  font-size: 20px;
}

#footer {
  background: #102146;
  padding: 68px 0;
}
#footer .footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
#footer .footer-logo {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 40px;
}
#footer .footer-logo div button {
  border: 2px solid #fff;
  padding: 6px;
  background: transparent;
  color: white;
}
#footer .footer-links {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#footer .footer-links h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#footer .footer-links .nav-footer {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 14px;
}
#footer .footer-social {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#footer .footer-social h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#footer .footer-social_icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 29px;
  color: #fff;
  font-size: 22px;
}
#footer .footer-contact {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#footer .footer-contact h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#footer .footer-contact_top-group {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}
#footer .footer-contact_top-group .icon {
  font-size: 20px;
  color: #fff;
}
#footer .footer-contact_top-group p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
#footer .footer-contact_bot-group {
  display: flex;
  align-items: center;
  gap: 15px;
}
#footer .footer-contact_bot-group .icon {
  font-size: 20px;
  color: #fff;
}
#footer .footer-contact_bot-group p {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
#footer .footer-address {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
#footer .footer-address h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}
#footer .footer-address .location {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
  color: #fff;
}
#footer .footer-address .location-icon {
  font-size: 20px;
  color: #fff;
}
#footer .footer-address .number {
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/*# sourceMappingURL=App.css.map */
